manifest {
    homePage = 'http://github.com/lifebit-ai/rmats-nf'
    description = 'Nextflow Implementation of RMATS'
    mainScript = 'main.nf'
}
params {

    // Defaults 
    spotsNumber             = "500G"
    keyFile                 = 'NO_FILE'
    output                  = "results"
    hisat2index             = "/index/hisat2/genome_snp_tran"
    starIndexPath           = "/index/GRCh38_gencode.v30"
    splitNumber             = 2
    skipTrimming            = true


    // Required
    gencodeFile             = false
    readType                = false
    readLength              = false
    accessionList           = false

    help                    = false
}
profiles {
    standard { 
	includeConfig 'conf/executors/google_pipelines.config'
	includeConfig 'conf/examples/gtex_1gb.config'  
    }
    docker { docker.enabled = true }
    google_pipelines { includeConfig 'conf/executors/google_pipelines.config' }
    public_sra { includeConfig 'conf/examples/public_sra.config' }
    gtex_1gb { includeConfig 'conf/examples/gtex_1gb.config' }
    gtex_1gb_jax { includeConfig 'conf/examples/gtex_1gb_jax.config' }
    gtex_5gb { includeConfig 'conf/examples/gtex_1gb.config' }
}
