manifest {
    homePage = 'http://github.com/lifebit-ai/rmats-nf'
    description = 'Nextflow Implementation of RMATS'
    mainScript = 'main.nf'
}
params {

    // Defaults 
    spotsNumber             = "500G"
    keyFile                 = 'NO_FILE'
    output                  = "results"
    hisat2index              = "/index/hisat2/genome_snp_tran"

    // Required
    gencodeFile             = false
    readType                = false
    readLength              = false
    accessionList           = false

    help                    = false
}
google {
    project = 'nextflow-250616'
    zone = 'europe-west1-b'
}
profiles {
    docker { docker.enabled = true }
    google_pipelines { includeConfig 'conf/google_pipelines.config' }
    public_sra { includeConfig 'conf/examples/public_sra.config' }
    gtex_1gb { includeConfig 'conf/examples/gtex_1gb.config' }
    gtex_5gb { includeConfig 'conf/examples/gtex_1gb.config' }
}
