manifest {
    homePage = 'http://github.com/lifebit-ai/rmats-nf'
    description = 'Nextflow Implementation of RMATS'
    mainScript = 'rmats.nf'
}

params {

	gencodeFile		= "$baseDir/example/annotation/gencode.v32.annotation.gtf"
	genomeFile		= "$baseDir/example/genome/chrX_reduced.fa"
	output			= "results"
	readType		= "paired"
	readLength		= 75
	spotsNumber		= "500G"
	accessionList		= "$baseDir/example/reads/SRR_Acc_List.txt"
	keyFile			= 'NO_FILE'
	help			= false
	hisat2_index		= false
}

docker {
    enabled = true
}

process {
	container = 'nfcore/rnaseq:1.3'

	errorStrategy = 'retry'
	maxRetries = 3

	withName: 'getAccession' {
		container = 'quay.io/biocontainers/sra-tools:2.9.6--hf484d3e_0'
		cpus = 8
		memory = '7.5 GB'
	}
	withName: 'gunzip_hisat_index' {
		cpus = 1
	}
	withName: 'genome_index' {
		cpus = 8
		memory = '30 GB'
	}
	withName: 'mapping' {
		cpus = 8
		memory = '30 GB'
	}
	withName: 'sortbam' {
		cpus = 8
		memory = '30 GB'
	}
	withName: 'markduplicates' {
		cpus = 1
		memory = '8 GB'
	}
	withName: 'bamstats' {
		cpus = 1
	}
	withName: 'paired_rmats' {
		container = 'vestigio/gigacolchon'
		cpus = 8
		memory = '56 GB'
	}
}

google {
    project = 'nextflow-250616'
    zone = 'europe-west1-b'
    preemptible = true
}

profiles {
	google_pipelines {
       		process.executor = 'google-pipelines'
	}
	short_test {
		params.gencodeFile		= "$baseDir/example/annotation/gencode.v32.chrX.annotation.gtf"
		params.genomeFile		= "$baseDir/example/genome/chrX_reduced.fa"
		params.output			= "results"
		params.readType			= "paired"
		params.readLength		= 25
		params.spotsNumber		= "500G"
		params.accessionList	= "$baseDir/example/reads/short_kallisto_SRR_Acc_List.txt"
	}
	with_key {
		params.keyFile			= "$baseDir/prj_13460.ngc"
		params.gencodeFile		= "$baseDir/example/annotation/gencode.v32.annotation.gtf"
		params.genomeFile		= "$baseDir/example/genome/chrX_reduced.fa"
		params.output			= "results"
		params.readType			= "paired"
		params.readLength		= 75
		params.spotsNumber		= "500G"
		params.accessionList	= "$baseDir/example/reads/SRR_Acc_List.txt"
	}
	gtex {
		withName: 'getAccession' {
			cpus = 2
			memory = '7.5 GB'
		}
		withName: 'gunzip_hisat_index' {
			cpus = 1
		}
		withName: 'genome_index' {
			cpus = 8
			memory = '30 GB'
		}
		withName: 'mapping' {
			cpus = 8
			memory = '30 GB'
		}
		withName: 'sortbam' {
			cpus = 8
			memory = '30 GB'
		}
		withName: 'markduplicates' {
			cpus = 1
			memory = '2 GB'
		}
		withName: 'bamstats' {
			cpus = 1
		}
		withName: 'paired_rmats' {
			container = 'vestigio/gigacolchon'
			cpus = 16
			memory = '60 GB'
		}	
	}
}
