google {
    lifeSciences.bootDiskSize = 100.GB
    lifeSciences.preemptible = true
    zone = 'us-east1-b'
    network = 'jax-poc-lifebit-01-vpc-network'
    subnetwork = 'us-east1'
}

docker.enabled = true

process {
	
    cache = 'lenient'

    errorStrategy = { task.attempt <= 100 ? 'retry' : 'ignore' }
    maxRetries = 100

    executor {
        $google-lifesciences {
            queueSize = 500
        }
        $ignite {
            queueSize = 500
        }
    }
    
    container = 'nfcore/rnaseq:1.3'

    withName: 'getAccession' {
        container = 'gcr.io/nextflow-250616/sratools'
        cpus = 4
        memory = '10 GB'
    }
    withName: 'trimming' {
        container = 'gcr.io/nextflow-250616/fastp:latest'
        cpus = 8
        memory = '31 GB'
    }
    withName: 'mapping' {
        errorStrategy = 'ignore'
        container = 'gcr.io/nextflow-250616/hisat2index:samtools'
        cpus = 24
        memory = '30 GB'
    }
    withName: 'bamstats' {
        errorStrategy = 'ignore'
    }
    withName: 'sortbam' {
        cpus = 4
        memory = '10 GB'
    }
    withName: 'markduplicates' {
        cpus = 6
        memory = '32 GB'
    }
    withName: 'paired_rmats' {
        cpus = 2
        memory = '8 GB'
    }
    withName: 'sampleCountsSave' {
        cpus = 1
        memory = '2 GB'
    }
    withName: 'createMatrices' {
        executor = 'ignite'
        cpus = 1
        memory = '2 GB'
    }
    withLabel: 'rmats' {
        container = 'pprietob/rmats:latest'
    }
    withLabel: 'postrmats' {
        container = 'pprietob/postrmats:latest'
    }
}
