params {
	gencodeFile              = "gs://nfcloudinputdata/inputs/rmats/example/annotation/gencode.v30.annotation.gtf"
	keyFile                  = "$baseDir/prj_13460.ngc"
	output                   = "results"
	readType                 = "paired"
	readLength               = 50
	accessionList            = "$baseDir/examples/gtex_pair_5gb.txt"
}
