params {
	gencodeFile              = "gs://robinson-bucket/inputs/rmats/annotations/gencode.v30.annotation.gtf"
	keyFile                  = "gs://robinson-bucket/inputs/rmats/keys/prj_17480_D15449.ngc"
	output                   = "results"
	readType                 = "paired"
	readLength               = 76
	accessionList            = "gs://robinson-bucket/inputs/rmats/accessions/gtex_pair_1gb.txt"
}
