params {
	gencodeFile              = "gs://nfcloudinputdata/inputs/rmats/example/annotation/gencode.v30.annotation.gtf"
	keyFile                  = "gs://nfcloudinputdata/inputs/rmats/prj_13460.ngc"
	output                   = "results"
	readType                 = "paired"
	readLength               = 76
	accessionList            = "gs://nfcloudinputdata/inputs/rmats/example/accessions/gtex_pair_1gb.txt"
}
